@page "/"

<PageTitle>Moogle!</PageTitle>

<h1>🔍 Moogle!</h1>

<input class="p-1 my-4" @bind="query" placeholder="Introduzca su búsqueda">

<button type="default" class="btn btn-primary" @onclick="RunQuery">🔍 Buscar</button>

@if (!string.IsNullOrEmpty(result.Suggestion)) {
    <div class="suggestion" >
        <p>¿Quisite decir <strong class="sgst-text" @onclick="RunQuery">@result.Suggestion</strong>?</p>
    </div>
}

<ul class="results">
@foreach (var item in result.Items()) {
    <li>
        <div class="item">
            <p class="title">@item.Title</p>
            <p>... @item.Snippet ...</p>
        </div>
    </li>
}
</ul>

@code {
    private string query = "";
    private SearchResult result = new SearchResult();

    /*
    private static Corpus Corpus = new Corpus();
    private Dictionary<string ,Dictionary<string, float>> Matrix = Corpus.Matrix;
    private Dictionary<string, float> Words = Corpus.CorpusWords;
    */
    private void RunQuery() { 
        result = Moogle.Query(query/*, Matrix, Words*/);
        query = result.Suggestion;
    }
}
