.results {
    text-align: left;
}

.item .title {
    font-size: large;
    font-weight: bold;
}

.sgst-text {
    color: rgb(212, 29, 16);
}

.sgst-text:hover {
    color: brown;
    cursor: pointer;
    text-decoration-line: underline;
}